{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    
    <div class="container-fluid">
      <div class="row">    
        {% include "holidaysnew/admin/_sidebar.html.twig" %}
        
        
        <h1>activitys</h1>
        
        
        <div class="col-md-6 offset-md-3">
            <h1>Edit</h1>
            {{ form_start(activityForm) }}
            <div class="my-custom-class-for-errors">{{ form_errors(activityForm) }}</div>

            {{ form_row(activityForm.title) }}
            {{ form_row(activityForm.description) }}
            {{ form_row(activityForm.prices) }}
            {{ form_row(activityForm.address) }}
            {{ form_row(activityForm.ville) }}
            {{ form_row(activityForm.postcode) }}
            <select name="category" multiple class=form-control>
            {% for category in categorys %}
                <option value={{ loop.index }}>{{ category }}</option>
            {% endfor  %}
            </select>

            <select name="image" multiple class=form-control>
            {% for image in images %}
                <option value={{ loop.index }}>{{ image }}</option>ddd
            {% endfor  %}
            </select>

            {{ form_rest(activityForm) }}

            <button class="btn btn-primary">Envoyer</button>
            {{ form_end(activityForm) }}
        </div>
      </div>
    </div>

{% endblock %}