{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    
    <p>ADMIN</p>
    <div class="col-md-6 offset-md-3">
        {{ form_start(activityForm) }}
        <div class="my-custom-class-for-errors">{{ form_errors(activityForm) }}</div>
        {{ form_rest(activityForm) }}
            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(activityForm) }}
    </div>
	
{% endblock %}