
<div class="card rounded-0 shadow mw-300 mt-3" >              
    {# Pour afficher des images #}
    {% if activity.img != null %}
        <img src="{{ activity.img }}" class="card-img-top" alt="{{ activity.title }}">
    {% else %}
        {% for catimg in activity.getImages() %}
             {% if loop.last %}
                <img src="/templates/holidaysnew/images/default-img/{{ catimg.img }}-{{ activity.id|slice(1,1)  }}.jpg" class="card-img-top" alt="{{ activity.title }}">         
             {% endif %}
        {% endfor %}
    {% endif %}
    <div class="card-body">
        <h2 class="card-title text-primary">{{ activity.title }}</h2>
        <p class="card-text">{{ activity.description|slice(0, 250) }}...</p>
    </div>
    <div class="card-body">
        {% if activity.prices > 1 %}
            <button type="button" class="btn btn-rose rounded-0">{{ activity.prices }} €</button> 
        {% endif %}
        <a href="{{ path('show', {title: activity.slug}) }}"><span type="button" class="btn btn-outline-danger rounded-0">Plus d'infos</span></a>
    </div>
</div>

