{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class=" mt-5 mx-auto w-75">
        <h1 class="ml-n2">Toutes les activités </h1>
    </div>
        
    <div id="content" class="mx-auto card-deck col-10 mt-5">
        
        {% for activity in activitys %}
            <div class="card rounded-0 shadow" >
                {% if activity.img != null %}
                    <img src="{{ activity.img }}" class="card-img-top" alt="{{ activity.title }}">
                {% else %}
                    <img src="/templates/holidaysnew/images/No_Image.jpg" class="card-img-top" alt="{{ activity.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ activity.title }}</h5>
                    <p class="card-text">{{ activity.description }}</p>
                </div>
                <div class="card-body">
                    {% if activity.prices < 1 %}
                        <button type="button" class="btn btn-success rounded-0">GRATUIT</button>
                        {% else %}
                        <button type="button" class="btn btn-success rounded-0">{{ activity.prices }}€</button> 
                    {% endif %}
                    <button type="button" class="btn btn-success rounded-0"><a href="{{ activity.link }}" class="text-white">Plus d'infos</a></button>
                </div>
            </div>
        {% endfor %}

    </div>
        {#{{ dump(app.request.attributes.get("page")) }}#}
    <nav aria-label="Page navigation" class="mt-5 mx-auto w-25">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="{{ path('activites', {page: app.request.attributes.get("page")-1}) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          {% for i in 0..pagination|round %}
            {% if app.request.attributes.get("page") == loop.index %}
                <li class="page-item active"><span class="page-link">{{ loop.index }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path('activites', {page: loop.index}) }}">{{ loop.index }}</a></li>
            {% endif %}
          {% endfor %}
          
          <li class="page-item">
            <a class="page-link" href="{{ path('activites', {page: app.request.attributes.get("page")+1}) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
    </nav>
	
{% endblock %}