{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container">
    <h1 class="ml-3">Contact</h1>
        {{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5' 
                        }
                    })
                }}
        {{ form_row(form.title, {'label': 'Objet'}) }}
        {{ form_row(form.email, {'label': 'Email'}) }}
        {{ form_row(form.description, {'label': 'Description'}) }}
        {{ form_row(form.agreeTerms, {'label': 'Accepter les conditions générale'}) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}