{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    {% if activitys %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Résultats des activités de loisirs</h1>
        </div>
    {% else %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Aucun résultats pour les activités de loisirs trouvés</h1>
        
		<form method="post" action="{{ path('chearch') }}" class="">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputcity" class="sr-only">Ville</label>
                        <input name="city" type="text" class="form-control rounded-0 border-1 mr-3" placeholder="&nbsp; Choisir une ville" value=" ">
                        <label for="inputcity" class="sr-only">Budget</label>
                        <input name="price" type="number" class="form-control rounded-0 border-1" placeholder="&nbsp; Votre budget ex: 20€" value=" ">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 rounded-0 ">Recherche</button>
		</form>
        </div>
    {% endif %}
        
    <div id="content" class="mx-auto card-deck col-10 mt-5 d-flex">
        
        {% for activity in activitys %}
            <div class="card rounded-0 shadow mw-300 m-3" >
        {#                Pour afficher des images#}
                {% if activity.img != null %}
                    <img src="{{ activity.img }}" class="card-img-top" alt="{{ activity.title }}">
                {% else %}
                    {% for catimg in activity.getImages() %}
                        {% if loop.first %}
                            <img src="/templates/holidaysnew/images/default-img/{{ catimg.img }}.jpg" class="card-img-top" alt="{{ activity.title }}">         
                        {% endif %}
                    {% endfor %}     
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title text-primary">{{ activity.title }}</h2>
                    <p class="card-text">{{ activity.description }}</p>
                </div>
                <div class="card-body">
                    {% if activity.prices > 1 %}
                        <button type="button" class="btn btn-success rounded-0">{{ activity.prices }} €</button> 
                    {% endif %}
                    <button type="button" class="btn btn-success rounded-0"><a href="{{ activity.link }}" class="text-white">Plus d'infos</a></button>
                </div>
            </div>
            {#    {{ dump(activity)}}#}
        {% endfor %}

    </div>
        
        	
{% endblock %}