{% extends "base.html.twig" %}

{% block title %}{{ app.request.pathinfo|trim('/activiter/') }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    {% if activitys %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Résultats des activités de loisirs</h1>
        </div>
    {% else %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Aucun résultats pour les activités de loisirs trouvés</h1>
        
		<form method="post" action="{{ path('chearch') }}" class="">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputcity" class="sr-only">Ville</label>
                        <select class="form-control mr-3 " id="pet-select" name="city">
                            <option value="">CHOISIR UNE VILLE</option>
                            <option value="paris">Paris</option>
                            <option value="marseille">Marseille</option>
                            <option value="lille">Lille</option>
                            <option value="normandi">Normandie</option>
                            <option value="bordeaux">Bordeaux</option>
                            <option value="strasbourg">Strasbourg</option>
                            <option value="">Autre</option>
                        </select>
                        </div>
                    <button type="submit" class="btn btn-primary mb-2 rounded-0 ">Recherche</button>
		</form>
        </div>
{#   <---- page a finir
    <img src="https://3.bp.blogspot.com/_a5E63O7XF20/TU3LL1PgpMI/AAAAAAAAAAM/pYs8W1W3y04/s1600/carte_france_avec_no.gif" alt="" usemap="#map1582118354372">
    <map id="map1582118354372" name="map1582118354372">
        <area shape="rect" coords="262,173,308,202" title="Loiret" alt="Loiret" href="{{ path('chearch', {page: 45}) }}" target="_self">
        <area shape="rect" coords="281,131,299,143" title="Paris" alt="Paris" href="{{ path('chearch', {page: 75}) }}" target="_self">
        <area shape="rect" coords="44,50,70,82" title="val-de-marne" alt="val-de-marne" href="{{ path('chearch', {page: 94}) }}" target="_self">
        <area shape="rect" coords="33,19,78,35" title="seine-saint denis" alt="seine-saint denis" href="{{ path('chearch', {page: 93}) }}" target="_self">
        <area shape="rect" coords="12,47,32,76" title="Hauts-de-Seine" alt="Hauts-de-Seine" href="{{ path('chearch', {page: 92}) }}" target="_self">

    </map>#}
    
    {% endif %}
        
    <div id="content" class="mx-auto card-deck col-10 mt-5 d-flex">
        {% for activity in activitys %}
            {% include "holidaysnew/_card.html.twig" %}
        {% endfor %}
    </div>
        
        	
{% endblock %}