{% extends "base.html.twig" %}

{% block title %}Activités de loisirs à {{ app.request.request.get("city") }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    {% if activitys %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Résultats des activités de loisirs</h1>
        </div>
    {% else %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Aucun résultats pour les activités de loisirs trouvés</h1>
        
		<form method="post" action="{{ path('chearch') }}" class="">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputcity" class="sr-only">Ville</label>
                        <select class="form-control mr-3 " id="pet-select" name="city">
                            <option value="">CHOISIR UNE VILLE</option>
                            <option value="paris">Paris</option>
                            <option value="marseille">Marseille</option>
                            <option value="lille">Lille</option>
                            <option value="normandi">Normandie</option>
                            <option value="bordeaux">Bordeaux</option>
                            <option value="strasbourg">Strasbourg</option>
                            <option value="">Autre</option>
                        </select>
                        </div>
                    <button type="submit" class="btn btn-primary mb-2 rounded-0 ">Recherche</button>
		</form>
        </div>
{#   <---- page a finir
    <img src="https://3.bp.blogspot.com/_a5E63O7XF20/TU3LL1PgpMI/AAAAAAAAAAM/pYs8W1W3y04/s1600/carte_france_avec_no.gif" alt="" usemap="#map1582118354372">
    <map id="map1582118354372" name="map1582118354372">
        <area shape="rect" coords="262,173,308,202" title="Loiret" alt="Loiret" href="{{ path('chearch', {page: 45}) }}" target="_self">
        <area shape="rect" coords="281,131,299,143" title="Paris" alt="Paris" href="{{ path('chearch', {page: 75}) }}" target="_self">
        <area shape="rect" coords="44,50,70,82" title="val-de-marne" alt="val-de-marne" href="{{ path('chearch', {page: 94}) }}" target="_self">
        <area shape="rect" coords="33,19,78,35" title="seine-saint denis" alt="seine-saint denis" href="{{ path('chearch', {page: 93}) }}" target="_self">
        <area shape="rect" coords="12,47,32,76" title="Hauts-de-Seine" alt="Hauts-de-Seine" href="{{ path('chearch', {page: 92}) }}" target="_self">

    </map>#}
    
    {% endif %}
        
    <div id="content" class="mx-auto card-deck col-10 mt-5 d-flex">
        {% for activity in activitys %}
            {% include "holidaysnew/_card.html.twig" %}
        {% endfor %}
    </div>
        
    
    
    
    
    <script type="text/javascript">

function errorCallback(error) {
  alert('ERROR(' + error.code + '): ' + error.message);
};

</script>

<p id = "status"></p>
<a id = "map-link" target="_blank"></a>


<script type="text/javascript">



{#

document.querySelector('#find-me').addEventListener('click', geoFindMe);#}

</script>







        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
        <style type="text/css">
            #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height:400px;
            }
        </style>

        <div id="map">
	    <!-- Ici s'affichera la carte -->
	</div>

        <!-- Fichiers Javascript -->
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
	<script type="text/javascript">
            
            
            
            
            {#function geoFindMe() {#}

  const status = document.querySelector('#status');
  const mapLink = document.querySelector('#map-link');

  mapLink.href = '';
  mapLink.textContent = '';

  function success(position) {
         
    // On initialise la latitude et la longitude de Paris (centre de la carte)
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var macarte = null;
    
    var villes = {
        {% for activity in activitys %}
            {% if activity.longitude %}
                "{{ activity.title }}": { "lat": {{activity.longitude}}, "lon": {{activity.latitude}} },
            {%endif%}
        {%endfor%}
        };
    
    // Fonction d'initialisation de la carte
    function initMap() {
        // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
        macarte = L.map('map').setView([lat, lon], 11);
        // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minZoom: 1,
            maxZoom: 20
        }).addTo(macarte);
        	// Nous parcourons la liste des villes
	for (ville in villes) {
		var marker = L.marker([villes[ville].lat, villes[ville].lon]).addTo(macarte);
                marker.bindPopup(ville);
	}    
    }

    initMap(); 

  }

  function error() {
    status.textContent = 'Unable to retrieve your location';
  }

  if (!navigator.geolocation) {
    status.textContent = 'Geolocation is not supported by your browser';
  } else {
    navigator.geolocation.getCurrentPosition(success, error);
  }
            
            
            
            

        </script>
        	
{% endblock %}