{% extends "base.html.twig" %}

{% block title %}{{ activity.title }}{% endblock %}
{% block description %} 
    {{ activity.description }}
{% endblock %}  
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<br />
<div class="col-10 mx-auto">
    <div class="card">
      <div class="card-header">
          <h1>{{ activity.title }}</h1>
      </div>
      <div class="d-flex">
        <div class="col-5 ml-4 mt-4">
          {#                Pour afficher des images#}
          {% if activity.img != null %}
              <img src="{{ activity.img }}" class="card-img-top" alt="{{ activity.title }}">
          {% else %}
              {% for catimg in activity.getImages() %}
                  {% if loop.first %}
                      <img src="/templates/holidaysnew/images/default-img/{{ catimg.img }}-{{ activity.id|slice(1,1) }}.jpg" class="card-img-top" alt="{{ activity.title }}">         
                  {% endif %}
              {% endfor %}
          {% endif %}
        </div>

      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="text-justify">{{ activity.description|raw }} </p>
          <footer class="blockquote-footer">Adresse </footer>
              {{ activity.address }} <br /> {{ activity.ville }} <br /> {{ activity.postcode }}
              {{ app.session.set('ville', activity.ville) }}
        </blockquote>
      </div>
    </div>
{#        {% set idrand = random(['22426948', '22426945', '22426946','22426947']) %}
        <a href="https://track.effiliation.com/servlet/effi.click?id_compteur={{ idrand }}" rel="nofollow" target="_blank">
            <img src="https://track.effiliation.com/servlet/effi.show?id_compteur={{ idrand }}" alt="pub" border="0"/>
        </a>#}
     
        
    <a href="https://track.effiliation.com/servlet/effi.click?id_compteur=22426948" rel="nofollow"  target="_blank">
        <img src="https://track.effiliation.com/servlet/effi.show?id_compteur=22426948" alt="pub" border="0" class="w-100"/>
    </a> 

        
{#    <xml id="eWebLogReport" src="https://apiv2.effiliation.com/apiv2/commercialtrades.xml?key=Di2LnU4g6S5gGQGG3beJxMyIlOxVT3xY&amp;filter=mines"> </xml>
    <table border="1" datasrc="#eWebLogReport">
    <tr>
    <td><span datafld="nom"></span></td>
    </tr>
    </table>#}
    
</div>

      


{% endblock %}