<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/templates/holidaysnew/images/favicon.ico"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block head %}
            <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="/vendor/components/font-awesome/css/all.min.css">
{#            <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
            <link rel="stylesheet" href="/templates/holidaysnew/css/style.css">
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg ">
            <button class="navbar-toggler  navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="font-weight-bold navbar-nav mr-auto mt-n1 mt-lg mb-n2">
                    
                    <li class="nav-item active">
                      <a class="nav-link text-rose" href="/">LOISIRSETSPORTS.COM </a>
                    </li>

{#                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="/">IDÉES LOISIRS <span class="sr-only">(current)</span></a>
                    </li>#}
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="{{ path('category', {'title': 'sport'}) }}">SPORT </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          JEUX
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ path('category', {'title': 'jeu'}) }}">JEUX</a>
                          <a class="dropdown-item" href="{{ path('category', {'title': 'karting-karts'}) }}">KARTING</a>
                          <a class="dropdown-item" href="{{ path('category', {'title': 'bowling-billard-petanque'}) }}">jeux de boule</a>
                          <a class="dropdown-item" href="{{ path('category', {'title': 'parc-aventure-jardin'}) }}">PARC</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="{{ path('category', {'title': 'nature-jardin-plante'}) }}">NATURE </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          CULTURE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{ path('category', {'title': 'musee'}) }}">MUSÉE</a>
                          <a class="dropdown-item" href="{{ path('category', {'title': 'bibliotheque-ludotheque-mediatheque'}) }}">BIBLIOTHÈQUE</a>
                          <a class="dropdown-item" href="{{ path('category', {'title': 'theatre-spectacle'}) }}">THÉATRE</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="{{ path('addactivity') }}"> AJOUTER UNE ACTIVITÉ LOISIRS </a>
                    </li>

                </ul>

            </div>
        </nav>
        
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-5">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        
        {% block content %}{% endblock %}
        
        <div class="w-100 btn-rose p-5 mt-5 text-white d-flex position-relative pb-0">
            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">LOISIRSETSPORTS.COM</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> >> A propos </a></li>
                    <li><a href="" class="text-white"> >> FAQ </a></li>
                    <li><a href="{{ path('contact') }}" class="text-white"> >> Contact </a></li>
                    <li><a href="{{ path('mentions') }}" class="text-white"> >> Mentions légals </a></li>
                </ul>
            </div>
            
{#            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">Quick links</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">Quick links</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                </ul>
            </div>#}
            
        </div>
        <p class="w-100 btn-rose text-center text-white position-relative pb-0">© 2020 Progfacil.com</P>
        <script src="/vendor/components/jquery/jquery.slim.min.js" ></script>   
        <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script> 
    </body>
</html>
